@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Sansation";
  src: url("../src/assets/fonts/Sansation_Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Sansation";
  src: url("../src/assets/fonts/Sansation_Regular.ttf");
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    168deg,
    rgb(9, 41, 78) -3.63%,
    rgb(67, 136, 200) 59.74%,
    #e5496dc5 150%
  );
  background-attachment: fixed;
}

.slide {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
  }
}

::-webkit-scrollbar-track {
  background: #2a2e35;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #c89243;
  border-radius: 12px;
  border: solid 4px #2a2e35;
}
